---
import { getCollection } from "astro:content";
import MainLayout from '../../layouts/MainLayout.astro';

const allTeas = await getCollection("teas");
const tags = [...new Set(allTeas.map((tea) => tea.data.tags).flat())];
const pageTitle = "Позначки чаїв";
---

<MainLayout {pageTitle}>
  <div class="container">
    <h1>{pageTitle}:</h1>
      <div class="tags last_line">
          {tags.map((tag) => (
              <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
          ))}
      </div>
  </div>
</MainLayout>

<style>
    a {
      color: var(--foreground);
    }
  
    .tags {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #7c7c7c;
      border-radius: .5em;
      padding: .3rem .5rem .1rem;
      font-size: 1.1rem;
      background-color: var(--button);
    }

    .tag:hover {
      background-color: #a38017;
    }

    .container { padding: 3rem 1rem 1rem; }

    @media(min-width: 48rem) {
      .container { padding: 3rem 4rem 1rem; }
    }
</style>