---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import '../styles/global.css';

const pageTitle = "Про нас";
---

<ArticleLayout {pageTitle}>
    <h3 class="">Радо вітаємо вас у нашій</h3>
	<h1>Чайній Хатинці,</h1>
	<h2 class="last-line">Майстерні Чаю і Дао!</h2>
	<p>Ми підготували для вас підбірку статей на чайну тематику, які глибше висвітлюють нашу Традицію, чайне мистецтво й майстерність — Ґонфу Ча. Також маємо для вас "Чайну крамничку" з нашими улюбленими чаями та деяку інформацію про них і тих фармерів, які вирощують їх. Иноді збираються охочі поспілкуватися на ці теми, і ми залюбки влаштовуємо семінари й майстеркласи. Про них ви ще можете прочитати на сторінці нашої групи у Фейсбуці чи в Інстаграмі. Ну й, звісно, часто на вихідних, а инколи й посеред тижня, ми організовуємо різні види чаювань заради того, щоби розділити з вами Гармонію і Спокій разом з тією Мудрістю і Цілющістю, які дарує нам Чай. Хотілося б робити це частіше, та поки що можливості наші обмежені. Тож ось ваша чаша з чаєм, скуштуйте…</p>
	<p>Трішечки розкажемо про себе… Ми є спільнотою людей, об’єднаних любов'ю до Природи й до Чаю, Її яскравого й мудрого представника, що являється для нас не тільки смачним і запашним напоєм, серцем компанії, а й Проводирем, Напутником на нашому життєвому Шляху. Ча Дао — так давні китайці називали ставлення до життя через Чай. Дослухаючись до його простої і разом із тим глибокої Мудрости, вони накопичували й використовували її у своєму побуті. Так само як і вони, ми заради присутности й пробудження збираємо краплі життєдайних осяєнь, що містить у собі кожна чашка, і через Чистоту й Повагу прямуємо до Гармонії і Спокою – до Щастя, якого шукає кожна людина у Всесвіті.</p>
	<p>Як маєте бажання, просто напишіть нам...</p>
    <div class="coda">
        <p>Цінуйте кожну хвилину свого життя,</p>
        <p>адже воно таке швидкоплинне.</p>
         <p>Ніщо більше не повториться!</p>
         <p>Як кажуть японці: «Це єдиний шанс у житті».</p>
        <p>З Повагою і Любов'ю,</p>
        <p>"Чайна Хатинка", Майстерня Чаю і Дао</p>    
        <div class="kettle-image">
            <img src="/teakettle.gif" alt="Чайник і чашка" />
        </div>
    </div>
</ArticleLayout>

<style>
    h1,
	h2,
	h3 {
		text-align: center;
	}

    .coda {
        margin: 3rem 0 1.5rem;
        text-align: end;
        /* display: flex; */
        justify-content: end;
    }

    .coda p {
        margin: 0;
    }

    .kettle-image {
        display: flex; 
        justify-content: flex-end;
    }
    
    .kettle-image img {
        width: 5rem;
    }
</style>