---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import '../styles/global.css';

const pageTitle = "Керівні засади цієї Хатинки";
---

<ArticleLayout {pageTitle}>
	<h1 class="last-line">Керівні засади цієї Хатинки</h1>
    
	<p>Ми прагнемо, щоби кожен, хто заходить до нас, почувався як удома. Ми вітаємо гостей і подаємо чай із відкритим серцем. Ми можемо потребувати вашої підтримки, щоби наші двері залишалися відчиненими, проте ми завжди ділимося чаєм з любов'ю, усвідомлюючи, що його вплив сягає далеко за межі чаші. Ми щиросердно працюємо над тим, щоби зробити участь доступною незалежно від фінансового статусу.</p>
    
	<p>Через нашу відданість чаю ми прагнемо позитивно впливати на світ, виховуючи в собі та инших такі чесноти, як доброта, мудрість і співчуття. Ми орієнтовані на зростання, щоби стати відданішими представниками того світла, що надихає нас. Поки ми смиренні, нас можна виправити. Спільнота процвітає під таким провідним духом.</p>
    
	<p>Наша практика – це Шлях, а не доктрина. Усі форми й принципи є засобами для чайного духу. Вони не повинні викладатися, використовуватися або практикуватися у спосіб, який перешкоджає радості, істині чи справжньому зв'язку. Чай – це милосердя. Співчуття керує всім, що ми робимо. Ми не практикуємо суворо.</p>
    
    <p>Ми прагнемо виявляти належну повагу до цього простору, не лише до фізичного оточення, а й до людей, практик та намірів, які породжують його дух. Ми залишаємо свої еґо за дверима та тримаємо цей простір вільним від безладу, як фізичного, так і психологічного, не допускаючи, щоби наші особисті погляди спричиняли розлад у ньому.</p>

    <p>Ми щиро беремо участь у всіх аспектах практики, від прибирання до подавання чаю. Ми співпрацюємо, вважаючи кожне завдання таким же важливим, як і будь-яке инше. Коли кожна робота виконується зі щирістю, то це призводить до суцільної гармонії.</p>

    <p>Ми керуємо цим простором гармонійно та спільно, поважаючи всі погляди, які поділяються в дусі зростання. У цьому просторі ніхто не посідає місце вище за инших. Хоча в нас можуть бути призначені лідери, наше справжнє лідерство – це завжди наша спільна прихильність до чеснот чаю. Наші лідери повинні працювати над втіленням мудрости, співчуття і смирення, залишаючись відкритими до конструктивної критики. Зрештою, ми всі є учнями чаю.</p>

    <p>Ми говоримо з добротою, співчуттям і правдою. Ми охоче ділимося похвалою і використовуємо критику тільки для того, щоб підбадьорити, а не задля приниження. Ми висловлюємо свої думки, почуття і потреби відкрито, чесно й сміливо, відпускаючи при цьому результат. Ми також слухаємо инших із наміром зрозуміти, спілкуючись таким чином, щоби наше спілкування могло продовжуватися.</p>

    <p>Ми вирішуємо всі наші питання через спокійну співпрацю, уникаючи підвищених тонів. Ми дозволяємо мирній чайній практиці бути нашим компасом, запитуючи, які рішення найкраще сприяють майстерному відновленню гармонії в просторі. Ми зберігаємо свій простір простим, зрозумілим і легким в управлінні.</p>

    <p>Ми беремо особисту відповідальність за свої дії, підтримуючи “розум новачка” з моменту входження в цей простір. Кожен із нас може поміркувати над тим, як втілювати ці принципи заради покращення себе й простору, зосередившись на собі більше, ніж на инших. Ми вітаємо зворотний зв'язок від инших членів спільноти, визнаючи його як допомогу для зростання. Так само ми надаємо зворотний зв'язок зі співчуттям, обережно підбираючи зміст і синхронність, щоб инші могли його отримати. Ми прагнемо пробудити наш розум, слова й учинки, щоби вони віддзеркалювали чесноти чаю.</p>
    
    <p class="full-width">Нехай ці засади допоможуть цьому чайному простору процвітати, щоби любов і доброчесність нашого чайного духу поширювалися через цю спільноту у світ. Ці засади треба розглядати як основні положення, які слід застосовувати в дусі, уникаючи будь-якого перетворення їх на джерело дисгармонії чи виховного інструменту. Оскільки кожен із наших просторів є самокерованим, вони можуть вирішувати, як застосовувати ці принципи в конкретному контексті свого простору, щоби сприяти створенню гармонійного середовища для вивчення чаю і чайної практики. Нехай ваше служіння Чаю і вашій спільноті принесе користь усім живим істотам у всьому світі.</p>

    <div class="coda">
        <p>Ці "керівні принципи" було надруковано у весняному числі<br />часопису "<a href="http://www.globalteahut.org/" target="_blank" rel="noopener">Всесвітньої Чайної Хатинки</a>" за 2025 рік.</p>
        <div class="kettle-image">
            <img src="/teakettle.gif" alt="Чайник і чашка" />
        </div>
    </div>
</ArticleLayout>

<style>
    h1 { text-align: center; }

    p::first-letter { font-size: 1.5em; }

    .full-width {
        padding: 1rem 2rem;
		background: var(--button);
	}

    .coda {
        margin: 3rem 0 1.5rem;
        text-align: end;
        /* display: flex; */
        justify-content: end;
    }

    .coda p {
        margin: 0;
        font-size: 0.9rem;
        font-style: italic;
    }

    .kettle-image {
        display: flex; 
        justify-content: flex-end;
    }
    
    .kettle-image img {
        width: 5rem;
    }
</style>