---
const { isBordered, classList, background, color, ...rest } = Astro.props;
---

<button class:list={["btn", classList, {bordered: isBordered}]} {...rest}>
    <slot />
</button>

<style define:vars={{
    background, 
    color,
}}>
    .btn {
        font-size: 0.9rem;
        max-width: fit-content;
        display: flex;
        gap: .25rem;
        align-items: center;
        cursor: pointer;
        border: none;
        padding: .5rem .8rem;
        border-radius: .5rem;
        background: var(--background);
        color: var(--color);
    }
</style>