---
import Social from './Social.astro';
import { Icon } from 'astro-icon/components';
---

<footer>
    <nav class="footer-links-grid">
      <dl>
        <dt><a class="column-header" href='/'>Чайна Хатинка</a></dt>
            <dd>
                <a class="" href='/our-tradition/'>Наша Традиція</a>
            </dd>
            <dd>
                <a class="" href='/about/'>Про нас</a>
            </dd>
            <dd>
                <a class="" href='/about-our-teashop'>Про нашу крамничку</a>
            </dd>
      </dl>
      <dl class="second-block">
        <dt><a class="column-header" href='/teas/'>Чай</a></dt>
            <dd>
                <a class="" href='/categories/shengcha/'>Шен пуери</a>
            </dd>
            <dd>
                <a class="" href='/categories/heicha/'>Шу пуери й Хейча</a>
            </dd>
            <dd>
                <a class="" href='/categories/hongcha/'>Червоні чаї</a>
            </dd>
            <dd>
                <a class="" href='/categories/wulong&gaba/'>Вулони й ҐАБА</a>
            </dd>
            <dd>
                <a class="" href='/categories/baicha&lucha/'>Білі й Зелені</a>
            </dd>
            <dd>
                <a class="" href='/categories/japanese/'>Японські</a>
            </dd>
            <dd>
                <a class="" href='/tags/'>Позначки чаїв</a>
            </dd>
      </dl>
      <dl>
            <dt><a class="column-header" href='/library/'>Читальня</a></dt>
            <dd>
              <a class="" href='/library/'>Статті</a>
            </dd>
            <dd>
                <a class="" href='/gongfuchateatips/'>Поради з Ґонфу Ча</a>
            </dd>
            <dd>
                <a class="" href='/gongfuteapot/'>Чайник Ґонфу</a>
            </dd>
            <dd>
                <a class="long-text" href='/brewingtips/'>Деякі поради щодо заварювання</a>
            </dd>
            <dd>
                <a class="" href='/teaandseasons/'>Про чаї та пори року</a>
            </dd>
            <dd>
                <a class="" href='/questionsandanswers/'>Питання і відповіді</a>
            </dd>
        </dl>
        <dl class="fourth-block">
            <dt><p class="column-header4">Кольорова схема:</p></dt>
            <dd class="form-container">
                <form class="theme-picker" action="">
                    <fieldset>
                        <legend class="visually-hidden"></legend>
                        <label class="icon-label" for="light-dark">
                          <Icon name="computer" size={24} />
                          <input 
                              class="visually-hidden"
                              name="color-scheme" 
                              type="radio" 
                              value="light dark"
                              id="light-dark"
                          >
                      </label>
                        <label class="icon-label" for="light">
                            <Icon name="sun-filled" size={24} />
                            <input 
                                class="visually-hidden"
                                name="color-scheme" 
                                type="radio" 
                                value="light"
                                id="light"
                            >
                        </label>
                        <label class="icon-label" for="dark">
                            <Icon name="moon-filled" size={24} />
                            <input 
                                class="visually-hidden"
                                name="color-scheme" 
                                type="radio" 
                                value="dark"
                                id="dark"
                                >
                        </label>
                    </fieldset>
                </form>
            </dd>
        </dl>
    </nav>
    <div class="footer-bottom-container">
        <p class="copyright">&copy; 2014-{new Date().getFullYear()} TEAHUT.COM.UA</p>
        <Social />
    </div>
</footer>

<style>
    footer {
        background: var(--footer);
        color: var(--background);
        /* padding: 0 1em; */
    }

    dd {
        font-size: 16px;
    }

    .column-header {
        color: var(--background);
    }

    a:not(.column-header) {
        text-decoration: none;
        font-size: 0.93rem;
        color: unset;
        opacity: 0.8;
    }

    dt .column-header:hover,
    a:hover,
    a:focus,
    a:active {
        opacity: 1;
        color: var(--active);
    }

    .copyright {
        margin-bottom: unset;
        opacity: 0.8;
    }

    .footer-links-grid {
        padding: 5vh 0 9vh;
        display: none;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .footer-links-grid dl {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-links-grid dl dt {
        margin-bottom: 0.5rem;
    }

    .footer-bottom-container {
        padding: 2rem 0 6rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
    }

    .copyright {
        text-align: center;
        order: 5;
    }

    .theme-picker-block {
        display: none;
    }

    @media(min-width: 480px) {
        .footer-links-grid {
        grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(min-width: 630px) {
    
        footer {
            padding: 0 2rem;
        }

        .footer-links-grid {
            display: grid;
        }

        .footer-bottom-container {
            padding: 1rem 0 2rem 0;
            flex-direction: row;
            gap: unset;
            font-size: 1.1rem;
        }

        .long-text {
            text-wrap: balance;
        }

        .column-header4 {
            margin-bottom: 0.5rem;

        }
    
        .theme-picker {
            width: fit-content;
        }

        .visually-hidden {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }

        .theme-picker > fieldset {
            border: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-radius: 999px;
            background-color: light-dark(var(--background), var(--foreground-dark));
            color: light-dark(var(--foreground), var(--footer));
        }

        .icon-label {
            display: flex;
            padding: 0.5rem;
            text-align: center;
        }

        a.link {
        color: light-dark(var(--foreground), var(--background));
        padding: 0 0.5rem;
        opacity: 0.8;
        }

        .link:hover {
        background-color: light-dark(var(--foreground), var(--footer));
        border-radius: 0.5rem;
        border: solid 1px var(--active);
        color: light-dark(var(--background), var(--active));
        opacity: 1;
        }
            
        .header-logo:hover {
        color: light-dark(var(--foreground), var(--active));
        border: solid 3px var(--active);
        border-radius: 100%;
        }

        label:has(input[name="color-scheme"][type="radio"]:checked) {
        color: var(--active);
        border: 1px solid var(--active);
        border-radius: 100%;
        }


        .icon-label:has(input[name="color-scheme"][type="radio"]:checked) {
            color: var(--active);
            border: 1px solid var(--active);
            border-radius: 100%;
        }

        .copyright {
            order: 0;
        }
    }

    @media(min-width: 768px) {
        .footer-links-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }

        .fourth-block {
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }        
</style>

<script is:inline>
    const colorThemes = document.querySelectorAll('[name="color-scheme"]')
  
    const storeTheme = function(theme) {
      sessionStorage.setItem("theme", theme);
    }
  
    colorThemes.forEach((themeOption) => {
      themeOption.addEventListener("click", () => {
        storeTheme(themeOption.id);
      })
    });
  
    const retrieveTheme = function() {
      const activeTheme = sessionStorage.getItem("theme");
      colorThemes.forEach((themeOption) => {
        if (themeOption.id === activeTheme) {
          themeOption.checked = true;
        }
      })
    }
  
    document.onload = retrieveTheme();
</script>