---
import { Icon } from 'astro-icon/components';

const { width1, height1, margin1, color1, background1, word1, width2, height2, margin2, color2, background2, word2, width3, height3, margin3, color3, background3, word3 } = Astro.props;
---

<nav>
    <a class="nav-item nav-item1" href="/">
        <Icon name="hut" size={36} /><span class="span1">{word1}</span>
    </a>
    
    <a class="nav-item nav-item2" href="/teas/">
        <Icon name="teapot-leaves" size={36} /><span class="span2">{word2}</span>
    </a>
    
    <a class="nav-item nav-item3" href="/library/">
        <Icon name="books" size={36} /></i><span class="span3">{word3}</span>
    </a>
</nav>

<style define:vars={{width1, height1, margin1, color1, background1, width2, height2, margin2, color2, background2, word2, width3, height3, margin3, color3, background3, word3}}>
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: #333;
        padding: 12px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .nav-item{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--foreground-dark);
        padding: 0.75rem 1rem;
        border-radius: 3.125rem;
        background-color: rgba(255, 255, 255, 0);
    }

    .nav-item span{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .nav-item1 .span1{
        width: var(--width1);
        height: fit-content;
        margin: var(--margin1);
        transition: .3s;
    }

    .nav-item2 .span2{
        /* content: var(--word2); */
        width: var(--width2);
        height: var(--hight2);
        margin: var(--margin2);
        transition: .3s;
    }

    .nav-item3 .span3{
        /* content: var(--word3); */
        width: fit-content;
        height: var(--hight3);
        margin: var(--margin3);
        transition: .3s;
    }

    .nav-item:focus {
        text-decoration: none;
        color: var(--background);
        background-color: rgba(255, 255, 255, 0.2);
        transition: .2s;
    }

    .nav-item1 {
        text-decoration: none;
        color: var(--color1);
        background-color: var(--background1);
        transition: .3s;
    }

    .nav-item2 {
        text-decoration: none;
        color: var(--color2);
        background-color: var(--background2);
        transition: .3s;
    }

    .nav-item3 {
        text-decoration: none;
        color: var(--color3);
        background-color: var(--background3);
        transition: .3s;
    }

    /* .nav-item:focus span {
        width: 100%;
        height: 100%;
        margin: 0.3rem 0 0 0.5rem;
        transition: .2s;
    } */

    *:focus{
        outline: none;
        border: none;
    }

    @media(min-width: 768px) {
        nav {
            display: none;
        }
    }  
</style>