---
import { Icon }from "astro-icon/components";
import HeaderLink from './HeaderLink.astro';
import ThemePickerMobile from "./ThemePickerMobile.astro";
---

<nav class="mobile-menu-bar">
    <button popovertarget="mobile-home-page" style="anchor-name: --anchor-button;">
		<Icon class="icon" name="hut" size={36} />
	</button>
    <div id="mobile-home-page" class="mobile-tooltip" popover style="position-anchor: --anchor-button;">
        <ThemePickerMobile />
        <ul class="mobile-menu-block hut">
			<li class="headerlink">
				<HeaderLink href="/">
					ХАТИНКА
				</HeaderLink>
			</li>
			<li>
				<ul>
					<li>
						<a href="/our-tradition">
							- наша Традиція
						</a>
					</li>
					<li>
						<a href="/guiding-principles-of-this-hut">
							- керівні засади цієї Хатинки
						</a>
					</li>
					<li>
						<a href="/about">
							- про нас
						</a>
					</li>
					<li>
						<a href="/">
							- про нашу крамничку
						</a>
					</li>
				</ul>
			</li>
		</ul>
    </div>
    <button popovertarget="mobile-tea-page" style="anchor-name: --anchor-button;">
        <Icon class="icon" name="teapot-leaves" size={36} />
    </button>
    <div id="mobile-tea-page" class="mobile-tooltip" popover style="position-anchor: --anchor-button; text-align: center;">
        <ThemePickerMobile />
        <ul class="mobile-menu-block tea">
			<li class="headerlink">
				<HeaderLink href="/teas">
					ЧАЙ І НАЧИННЯ
				</HeaderLink>
			</li>
			<li>
				<ul>
					<li>
						<a class="menu-link" href='/categories/shengcha/'>
							- шен пуери
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/heicha/'>
							- шу пуери й хейча
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/hongcha/'>
							- червоні чаї
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/wulong&gaba/'>
							- вулони й ґаба
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/baicha&lucha/'>
							- білі й зелені
						</a>
					</li>
					<li>
						<a class="menu-link" href='/categories/japanese/'>
							- японські
						</a>
					</li>
					<li>
						<a class="menu-link teas" href='/teawares'>
							- чайне начиння
						</a>
					</li>
				</ul>
			<li>
				<a class="menu-link" href='/tags/'>
					Позначки чаїв
				</a>
			</li>
		</ul>
    </div>
    <button popovertarget="mobile-blog-page" style="anchor-name: --anchor-button;">
		<Icon class="icon" name="books" size={36} />
	</button>
	<div id="mobile-blog-page" class="mobile-tooltip" popover style="position-anchor: --anchor-button; text-align: end;">
        <ThemePickerMobile />
        <ul class="mobile-menu-block blog">
			<li class="headerlink">
				<HeaderLink href="/library">
					ЧИТАЛЬНЯ
				</HeaderLink>
			</li>
			<li>
				<ul>
                    <li>
                        <a class="menu-link" href='/library/articles/'>
                            - Загальні статті
                        </a>
                    </li>
					<li>
						<a class="menu-link" href='/library/gongfuchatips/'>
							- поради з ґонфу ча
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/gongfuteapot/'>
							- чайник ґонфу
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/brewingtips/'>
							- поради щодо заварювання
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/teaandseasons/'>
							- про чай і сезони
						</a>
					</li>
					<li>
						<a class="menu-link" href='/library/questionsandanswers/'>
							- питання і відповіді
						</a>
					</li>
				</ul>
			</li>
		</ul>
    </div>
</nav>

<style>
    nav.mobile-menu-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: light-dark(var(--header), var(--header));

        & button {
            height: 3.6rem;
            width: 100%;
			background-color: transparent;
			color: light-dark(oklch(85% 0.063 96.44), var(--foreground-dark));
			border: 0;
			z-index: 2;
        }

        & .mobile-tooltip {
            margin: 0;
            padding: 1.5rem 0 0;
            width: 100%;
            position-area: top;
            background-color: var(--header);
            border: 0;
            overflow: visible;
            z-index: -1;

            a {
				color: var(--foreground-dark);
                text-transform: uppercase;
				text-decoration: none;
                line-height: 2.7rem;
			}
        }

        .mobile-menu-block {
            display: grid;
            padding: 1rem 3rem;
            list-style: none;

            &.hut {
				width: fit-content;
			}
        }

        ul {
			list-style: none;
		}

        .headerlink {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
		
		.tea {
			justify-content: center;
		}

		.blog {
			justify-content: end;
			padding-right: 1rem;
		}

        [popover] {
            translate: 0 600px;
            transition: translate 0.5s ease-out, display 0.5s ease-out allow-discrete;

            &:popover-open {
                translate: 0;
            }
        }

        @starting-style {
            [popover]:popover-open {
                translate: 0 600px;
            }
        }

        @media (min-width: 720px) {
			display: none;
		}
    }
</style>
