---

---

<nav class="mobile-links">
    <dl>
        <dt><p class="column-header first-column">Чайна Хатинка</p></dt>
        <dd>
            <a class="" href='/our-tradition'>Наша Традиція</a>
        </dd>
        <dd>
            <a class="" href='/guiding-principles-of-this-hut'>Керівні засади цієї Хатинки</a>
        </dd>
        <dd>
            <a class="" href='/about'>Про нас</a>
        </dd>
        <dd>
            <a class="" href='/'>Про нашу крамничку</a>
        </dd>
    </dl>
    <dl>
        <dt><p class="column-header">Чай і начиння</p></dt>
        <dd>
            <a class="" href='/categories/shengcha/'>Шен пуери</a>
        </dd>
        <dd>
            <a class="" href='/categories/heicha/'>Шу пуери й Хейча</a>
        </dd>
        <dd>
            <a class="" href='/categories/hongcha/'>Червоні чаї</a>
        </dd>
        <dd>
            <a class="" href='/categories/wulong&gaba/'>Вулони й ҐАБА</a>
        </dd>
        <dd>
            <a class="" href='/categories/baicha&lucha/'>Білі й Зелені</a>
        </dd>
        <dd>
            <a class="" href='/categories/japanese/'>Японські</a>
        </dd>
        <dd>
            <a class="" href='/tags/'>Позначки чаїв</a>
        </dd>
        <dd>
            <a class="" href='/teawares/'>Чайне начиння</a>
        </dd>
    </dl>
    <dl>
        <dt><a class="" href='/library/'><p class="column-header">Читальня</p></a></dt>
        <dd>
            <a class="" href='/library/articles/'>Загальні статті</a>
        </dd>
        <dd>
            <a class="" href='/library/gongfuchatips/'>Поради з Ґонфу Ча</a>
        </dd>
        <dd>
            <a class="" href='/library/gongfuteapot/'>Чайник Ґонфу</a>
        </dd>
        <dd>
            <a class="" href='/library/brewingtips/'>Деякі поради щодо заварювання "Чаю місяця"</a>
        </dd>
        <dd>
            <a class="" href='/library/teaandseasons/'>Про чай і сезони</a>
        </dd>
        <dd>
            <a class="" href='/library/questionsandanswers/'>Питання і відповіді</a>
        </dd>
    </dl>
</nav>

<style>
    .mobile-links {
        margin: 5rem 2rem;
    }
    .column-header {
        margin-top: 1rem;
        font-size: 1.8rem;
        font-weight: 900;
        color: var(--button-noop);
        text-align: center;
        opacity: 1;
    }

    dd {
        color: var(--foreground-dark);
    }

    a,
    a:visited {
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--background);
    }

 
</style>