---
import { Icon } from "astro-icon/components";


---


<nav class="bottom-menu">
    <input type="checkbox" checked/>
    <div class="hamburger">
        <div class="dots">
            <span class="first-dot"></span>
            <span class="second-dot"></span>
            <span class="third-dot"></span>
        </div>
    </div>
    <div class="link-items-bar">
      <!-- <div class="action_items"> -->
       <div class="left-part">
           <a class="first-item" href="/">
               <Icon name="hut" size={36} />
             
           </a>
           <a class="second-item" href="/teas/">
               <Icon name="teapot-leaves" size={36} />
             
           </a>
       </div>
       <div class="right-part">
           <a class="third-item" href="/library/">
               <Icon name="books" size={36} />
             
           </a>
           <a class="fourth-item">
               <Icon name="menu" size={36} />
             
           </a>
       </div>
      <!-- </div> -->
    </div>
</nav>

<style>

.bottom-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width:100%;
    height:100px;
}

.bottom-menu input {
    position:  absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 5rem;
    height: 5rem;
    z-index:20;
    border-radius: 5rem;
    opacity:0;
}

.hamburger {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 5rem;
    height: 5rem;
    background-color: light-dark(var(--gray-op), var(--button));
    border-radius:100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    z-index:10;
}

.dots span {
    position: absolute;
    top: 45%;
    width:0.5rem;
    height:0.5rem;
    border-radius: 0.5rem;
    background: var(--active);
    z-index:20;
    transition: all 0.3s ease-in-out;
}

.first-dot { margin-left: 1rem; }
.second-dot { margin-left: 2.3rem; }
.third-dot { margin-left: 3.5rem; }

.bottom-menu input:checked ~ .hamburger .dots .first-dot {
    top: 1.25rem;
    height: 3.5rem;
    transform-origin:top;
    transform:rotate(-45deg);
    transition: all .3s ease-in-out;
}

.bottom-menu input:checked ~ .hamburger .dots .third-dot {
    top: 1.25rem;
    height:3.5rem;
    transform-origin:top;
    transform:rotate(45deg);
    transition: all .3s ease-in-out;
}
.link-items-bar {
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 95%;
    height:60px;
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-areas: 
        "left-part hamburger right-part";
    align-items: center;
    justify-content: center;
    background-color: light-dark(var(--gray), #867d7c);
    border-radius:60px;
    box-shadow: 0px 5px 20px light-dark(#867d7c,#f1c481);
    z-index:5;
    
    animation-name: expand-the-bar;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transform:scaleX(0);
    transition: all .3s ease-in-out;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground);
}

.left-part {
    margin: 0 0.2rem;
    grid-area: left-part;
    display: flex;
    justify-content: space-around;
}

.right-part {
    margin: 0 0.2rem;
    grid-area: right-part;
    display: flex;
    justify-content: space-around;
}

.bottom-menu input:checked ~ .link-items-bar {
    transform:scaleX(1);
}

.link-items-bar a {
  position: absolute;
  top: 25%;
  width:20px;
  padding-left:35px;
  opacity:0;
  transition: all .2s ease-in-out;
  cursor:pointer; 
}
.first-item
{
  left:0%;
}
.second-item
{
  left:15%;
}
.third-item
{
  left:55%;
}
.fourth-item
{
  left:70%;
}
.bottom-menu input:checked ~ .link-items-bar .first-item
{
    opacity:1;
  transition-delay:.45s;
}
.bottom-menu input:checked ~ .link-items-bar .left-part .second-item
{
    opacity:1;
  transition-delay:.40s;

}
.bottom-menu input:checked ~ .link-items-bar .right-part .third-item
{
    opacity:1;
  transition-delay:.40s;
}
.bottom-menu input:checked ~ .link-items-bar .right-part .fourth-item
{
    opacity:1;
  transition-delay:.45s;
}

@media(min-width: 480px) {
    .link-items-bar {
        width: 28.5rem;
    }
}

@media(min-width: 680px) {
    .bottom-menu {
        display: none;
    }
}

</style>