---
import { Icon } from 'astro-icon/components';
import Logo from './Logo.astro';

---

<div class="navigation" aria-label="Primary">
  <button class="logo-btn">
    <a class="header-logo" href="/" aria-label="To Home" data-astro-prefetch>
      <Logo />
    </a>
  </button>
  <a class="home-link" href="/" aria-label="To Home" data-astro-prefetch>Майстерня Ча Дао</a>
  <nav class="desktop-menu">
    <a class="link1 link" href="/" aria-label="To Home" data-astro-prefetch>Майстерня</a>
    <a class="link2 link" href="/teas/" aria-label="To Teas" data-astro-prefetch>Ча</a>
    <a class="link3 link" href="/library/" aria-label="To Articles" data-astro-prefetch>Дао</a>
  </nav>
    <form class="theme-picker link4" action="">
      <fieldset>
          <legend class="visually-hidden">Кольорова тема:</legend>
          <label class="icon-label" for="light">
              <Icon name="sun-filled" size={24} />
              <input 
                  class="visually-hidden"
                  name="color-scheme" 
                  type="radio" 
                  value="light"
                  id="light"
              >
          </label>
          <label class="icon-label" for="dark">
              <Icon name="moon-filled" size={24} />
              <input 
                  class="visually-hidden"
                  name="color-scheme" 
                  type="radio" 
                  value="dark"
                  id="dark"
                  >
          </label>
      </fieldset>
  </form>
  
  <button popovertarget="nav-menu" popovertargetaction="show" class="menu-btn icon">
    <span class="menu-btn-alt">Показати меню</span>
    <Icon name="menu" size={32} />
  </button>
  <div id="nav-menu" popover="" class="main-nav">
    <button popovertarget="nav-menu" popovertargetaction="hide" class="close-btn icon">
      <span class="menu-btn-alt">Сховати меню</span>
      <Icon name="close-rounded" size={32} />
    </button>
    <nav class="mobile-menu">
      <form class="theme-picker-mobile" action="">
        <fieldset>
            <legend class="visually-hidden">Кольорова тема:</legend>
            <label class="icon-label" for="light">
                <Icon name="sun-filled" size={24} />
                <input 
                    class="visually-hidden"
                    name="color-scheme" 
                    type="radio" 
                    value="light"
                    id="light"
                >
            </label>
            <label class="icon-label" for="dark">
                <Icon name="moon-filled" size={24} />
                <input 
                    class="visually-hidden"
                    name="color-scheme" 
                    type="radio" 
                    value="dark"
                    id="dark"
                    >
            </label>
        </fieldset>
      </form>
      <a class="link" href="/" aria-label="To Home" data-astro-prefetch>Чайна Хатинка</a>
      <a class="link" href="/teas/" aria-label="To Teas" data-astro-prefetch>Чай</a>
      <a class="link" href="/library/" aria-label="To Articles" data-astro-prefetch>Читальня</a>
    </nav>
  </div>
</div>

<style>
  .navigation {
    margin: 0 1rem;
    background-color: light-dark(var(--background), var(--footer));
    border-radius: 9999px;
    box-shadow:
      2.8px 2.8px 17.4px rgba(0, 0, 0, 0.035),
      6.7px 6.7px 28px rgba(0, 0, 0, 0.045),
      12.5px 12.5px 34.9px rgba(0, 0, 0, 0.051),
      22.3px 22.3px 40.7px rgba(0, 0, 0, 0.055),
      41.8px 41.8px 49.3px rgba(0, 0, 0, 0.06),
      100px 100px 80px rgba(0, 0, 0, 0.07);
    display: grid;
    grid-template-columns: 3.5rem 1fr 3.5rem;
    grid-auto-rows: 56px;
    grid-template-areas: 
      "logo home-link hamburger";
    align-items: center;
    justify-items: center;
    transition: all var(--animation-timing) ease-in-out;
  }

  .logo-btn{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    border-width: 0;
    background-color: light-dark(var(--background), var(--foreground-dark));
    border-color: light-dark(var(--background), var(--foreground-dark));
    cursor: pointer;
  }

  .header-logo {
    grid-area: logo;
    margin: 0;
    aspect-ratio: 1 / 1;
  }

  .home-link {
    font-size: 1.4rem;
    font-weight: 600;
    grid-area: home-link;
    color: light-dark(var(--foreground), var(--background));
    opacity: 0.8;
  }

  .desktop-menu,
  form.theme-picker { display: none; }

  .link {
    color: var(--background);
  }

  button {
    border: 0;
  }

  .menu-btn {
    padding: 0.5rem;
    color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border-right: 2px solid light-dark(var(--foreground), var(--background)); 
    border-top: 2px solid light-dark(var(--foreground), var(--background));
    border-bottom: 2px solid light-dark(var(--foreground), var(--background));
    background-color: light-dark(var(--background), var(--foreground-dark));
    width: 56px;
    height: 56px;
    cursor: pointer;
    transition-duration: 500ms;
  }

  .menu-btn-alt {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  form.theme-picker-mobile {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .theme-picker > fieldset,
  .theme-picker-mobile > fieldset {
    /* margin-right: .2rem; */
    border: 0;
    display: flex;
    border-radius: 999px;
    background-color: light-dark(var(--background), var(--foreground-dark));
    color: light-dark(var(--foreground), var(--footer));
  }
        
  .icon-label {
    display: flex;
    padding: 0.7rem;
    text-align: center;
  }

  
  .main-nav {
    padding: 0; 
    place-items: center; 
    width: 100%; 
    height: 100%; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
    color: #ffffff; 
    background-color: transparent;
  }

  .close-btn {
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    z-index: 10; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem; 
    border-radius: 100%; 
    border-width: 2px; 
    border-color: #ffffff; 
    width: 3.5rem; 
    height: 3.5rem; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
  }
  
  .mobile-menu {
    display: flex; 
    position: relative; 
    flex-direction: column; 
    gap: 1.5rem; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
  }
  
  .menu-links {
    display: block; 
    position: relative; 
    text-align: center;
    color: #ffffff;
  }

  .main-nav,
  .main-nav::backdrop {
    transition:
      500ms opacity,
      500ms overlay allow-discrete,
      500ms display allow-discrete;
      opacity: 0;
    }

  .main-nav a {
    transition: 500ms transform;
    transform: translateY(-48px);
  }
  
  .main-nav::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
  }
  
  .main-nav:popover-open {
    opacity: 1;
    display: grid;
  }

  .main-nav:popover-open a {
    transform: translateY(0);
  }
  
  .main-nav:popover-open::backdrop {
    opacity: 1;
  }
  
  .icon {
    color: var(--foreground);
  }

  @starting-style {
    .main-nav:popover-open,
    .main-nav:popover-open::backdrop {
      opacity: 0;
    }

    .main-nav:popover-open a {
      transform: translateY(48px);
    }
  }

  @media screen and (min-width: 48rem) {
    .menu-btn, .home-link, .close-btn {
      display: none;
    }

    .navigation {
      margin: 0 1rem;
      grid-template-columns: 56px auto 1fr auto auto;
      grid-template-areas:
        "logo . desktop-menu . link4";
    }

    .desktop-menu {
      display: flex;
      gap: 3rem;
      grid-area: desktop-menu;
      font-size: 1.5rem;
      font-weight: 600;
      opacity: 0.7;
    }

    form.theme-picker {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }

    a.link {
      color: light-dark(var(--foreground), var(--background));
      padding: 0 0.5rem;
      opacity: 0.8;
    }

    .link4 {
      grid-area: link4;
    }

    .link:hover {
      background-color: light-dark(var(--foreground), var(--footer));
      border-radius: 0.5rem;
      border: solid 1px var(--active);
      color: light-dark(var(--background), var(--active));
      opacity: 1;
    }
        
    .header-logo:hover {
      color: light-dark(var(--foreground), var(--active));
      border: solid 3px var(--active);
      border-radius: 100%;
    }

    label:has(input[name="color-scheme"][type="radio"]:checked) {
      color: var(--active);
      border: 1px solid var(--active);
      border-radius: 100%;
    }
  }
</style>

<script is:inline>
  const colorThemes = document.querySelectorAll('[name="color-scheme"]')

  const storeTheme = function(theme) {
    sessionStorage.setItem("theme", theme);
  }

  colorThemes.forEach((themeOption) => {
    themeOption.addEventListener("click", () => {
      storeTheme(themeOption.id);
    })
  });

  const retrieveTheme = function() {
    const activeTheme = sessionStorage.getItem("theme");
    colorThemes.forEach((themeOption) => {
      if (themeOption.id === activeTheme) {
        themeOption.checked = true;
      }
    })
  }

  document.onload = retrieveTheme();
</script>