---
import { Icon } from 'astro-icon/components';
import { Image } from "astro:assets";
import logo from '../../public/logo.png';
---

<div class="navigation" aria-label="Primary">
  <a class="header-logo" href="/" aria-label="To Home" data-astro-prefetch>
      <Image class="logo" src={logo} alt="Logo" />
  </a>
  <a class="home-link" href="/" aria-label="To Home" data-astro-prefetch>Майстерня Ча Дао</a>

  <nav class="desktop-menu">
    <ul class="menu">
      <li>
        <h5 class="first-header link">Майстерня</h5>
        <ul>
          <li><a class="menu-link home" href='/'><Icon name="hut" size={24} />Хатинка</a></li>
          <li><a class="menu-link" href='/our-tradition/'>Наша Традиція</a></li>
          <li><a class="menu-link" href='/about/'>Про нас</a></li>
          <li><a class="menu-link" href='/'>Про нашу крамничку</a></li>
      </ul>
      </li>
      <li>
          <h5 class="second-header link">Ча</h5>
          <ul>
              <li><a class="menu-link teas" href='/teas/'><Icon name="teapot-leaves" size={24} /> Усі чаї</a></li>
              <li><a class="menu-link" href='/categories/shengcha/'>Шен пуери</a></li>
              <li><a class="menu-link" href='/categories/heicha/'>Шу пуери й Хейча</a></li>
              <li><a class="menu-link" href='/categories/hongcha/'>Червоні чаї</a></li>
              <li><a class="menu-link" href='/categories/wulong&gaba/'>Вулони й ҐАБА</a></li>
              <li><a class="menu-link" href='/categories/baicha&lucha/'>Білі й Зелені</a></li>
              <li><a class="menu-link" href='/categories/japanese/'>Японські</a></li>
              <li><a class="menu-link" href='/tags/'>Позначки чаїв</a></li>
          </ul>
      </li>
      <li class="third-block">
        <h5 class="menu-link link">Дао</h5>
          <ul>
            <li><a class="menu-link library" href='/library/'><Icon name="books" size={24} /> Статті</a></li>
            <li><a class="menu-link" href='/gongfuchateatips/'>Поради з Ґонфу Ча</a></li>
            <li><a class="menu-link" href='/gongfuteapot/'>Чайник Ґонфу</a></li>
            <li><a class="menu-link" href='/brewingtips/'>Деякі поради щодо заварювання "Чаю місяця"</a></li>
            <li><a class="menu-link" href='/teaandseasons/'>Про чаї та пори року</a></li>
            <li><a class="menu-link" href='/questionsandanswers/'>Питання і відповіді</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <a class="search-logo link4" href="/search/" aria-label="To Search" data-astro-prefetch>
    <Icon name="search" size={32} />
  </a>
</div>

<style>
  .navigation {
    margin: 0 1rem;
    background-color: light-dark(var(--background), var(--footer));
    border-radius: 9999px;
    box-shadow:
      2.8px 2.8px 17.4px rgba(0, 0, 0, 0.035),
      6.7px 6.7px 28px rgba(0, 0, 0, 0.045),
      12.5px 12.5px 34.9px rgba(0, 0, 0, 0.051),
      22.3px 22.3px 40.7px rgba(0, 0, 0, 0.055),
      41.8px 41.8px 49.3px rgba(0, 0, 0, 0.06),
      100px 100px 80px rgba(0, 0, 0, 0.07);
    display: grid;
    grid-template-columns: 3.5rem 1fr 3.5rem;
    grid-auto-rows: 3.5rem;
    grid-template-areas: 
      "logo home-link search";
    align-items: center;
    justify-items: center;
    transition: all var(--animation-timing) ease-in-out;
  }

  .header-logo {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    border-width: 0;
    background-color: light-dark(var(--background), var(--foreground-dark));
    border-color: light-dark(var(--background), var(--foreground-dark));
    cursor: pointer;
    grid-area: logo;
    margin: 0;
    aspect-ratio: 1 / 1;
  }

  
  .logo{
    border-left: 2px solid light-dark(var(--foreground), var(--background)); 
    border-top: 2px solid light-dark(var(--foreground), var(--background));
    border-bottom: 2px solid light-dark(var(--foreground), var(--background));
    border-radius: 100%;
  }
  
  .home-link {
    font-size: 1.4rem;
    font-weight: 600;
    grid-area: home-link;
    color: light-dark(var(--foreground), var(--background));
    opacity: 0.8;
  }
  
  .desktop-menu,
  form.theme-picker { display: none; }
  
  .search-logo {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: light-dark(var(--foreground), var(--foreground-dark));
    border-right: 2px solid light-dark(var(--foreground), var(--background)); 
    border-top: 2px solid light-dark(var(--foreground), var(--background));
    border-bottom: 2px solid light-dark(var(--foreground), var(--background));
    border-radius: 100%;
  }

  @media screen and (min-width: 630px) {
    .home-link, .close-btn {
      display: none;
    }

    .navigation {
      margin: 0 1rem 1rem;
      grid-template-columns: 3.5rem auto 1fr auto auto;
      grid-template-areas:
        "logo . desktop-menu . link4";
    }

    .desktop-menu {
      display: flex;
      gap: 3rem;
      grid-area: desktop-menu;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: light-dark(var(--background), var(--footer));
    }

    h5 { cursor: pointer; }
    .first-header { margin-right: 3rem;}
    .second-header { margin-right: 1rem;}

    .link4 {
      grid-area: link4;
    }

    .link:hover,
    li.menu-link:hover {
      color: var(--active);
      opacity: 1;
    }
        
    .header-logo:hover,
    .search-logo:hover {
      color: var(--active);
      border: solid 3px var(--active);
      border-radius: 100%;
    }

    label:has(input[name="color-scheme"][type="radio"]:checked) {
      color: var(--active);
      border: 1px solid var(--active);
      border-radius: 100%;
    }

    .menu a{
      font-size: 1.8rem;
      font-weight: 600;
      width: 100%;
    }

    .menu::after{
        content: '';
        clear: both;
        display: block;
    }

    .menu a{
        display: block;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 1rem;
        color: light-dark(var(--foreground), var(--foreground-dark));
        background-color: light-dark(var(--background), var(--foreground));
    }

    .menu a:hover{
        background-color: var(--button-noop);
        color: var(--foreground);
    }

    .menu > li:hover > .link {
        color: var(--active);
    }

    .menu li{
        position: relative;
    }

    .menu > li{
        float: left;
    }

    .menu, .menu ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .menu ul li+li{
        border-top: 1px solid #fff;
    }

    .menu ul{
        position: absolute;
        box-shadow:  5px 5px 10px 0 rgba(0,0,0, 0.5);
    }

    .menu > li ul, .menu ul ul{
        opacity: 0;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        z-index: -1;
        visibility: hidden;
    }

    .menu > li ul{
        top: 130%;
        left: 0;
    }

    .menu ul ul{
        left: 130%;
        top: 0;
    }

    .menu ul a{
        width: 250px;
    }

    .menu > li:hover > ul{
        top: 100%;
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    .menu ul > li:hover > ul{
        left: 100%;
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    li > a.home,
    li > a.teas,
    li > a.library {
      display: flex;
      text-align: center;
      column-gap: 1rem;
    }
  }
</style>
