---
import { Icon } from 'astro-icon/components';
import ThemeIcon from './ThemeIcon.astro';
import Logo from './Logo.astro';

---

<nav class="navigation" aria-label="Primary">
    <a class="header-logo" href="/" aria-label="To Home" data-astro-prefetch>
        <Logo />
    </a>
    <a class="home-link link" href="/" aria-label="To Home" data-astro-prefetch>Чайна Хатинка</a>
    <a class="teas-link link" href="/teas/" aria-label="To Our Tea" data-astro-prefetch>Чай</a>
    <a class="library-link link" href="/library/" aria-label="To Library" data-astro-prefetch>Читальня</a>
    <div class="search-toggle-block link">
        <a class="search-link icon" href="/search/" aria-label="До Пошуку" data-astro-prefetch>
            <Icon name="search" size={24} />
        </a>
        <div class="toggle">
            <ThemeIcon />
        </div>
    </div>
    <label class="hamburger-menu" for="checkbox">
        <input type="checkbox" id="checkbox"/>           
    </label>
</nav>

<style>
    :root {
        --bar-width: 30px;
        --bar-height: 4px;
        --hamburger-gap: 5px;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: 18px;
    }

    .navigation {
        margin: 0 1rem;
        height: 56px;
        background-color: var(--background);
        border-radius: 1rem;
        box-shadow:
            2.8px 2.8px 17.4px rgba(0, 0, 0, 0.035),
            6.7px 6.7px 28px rgba(0, 0, 0, 0.045),
            12.5px 12.5px 34.9px rgba(0, 0, 0, 0.051),
            22.3px 22.3px 40.7px rgba(0, 0, 0, 0.055),
            41.8px 41.8px 49.3px rgba(0, 0, 0, 0.06),
            100px 100px 80px rgba(0, 0, 0, 0.07);
        display: grid;
        grid-template-columns: 56px 1fr 56px;
        grid-auto-rows: 56px;
        grid-template-areas: 
        "logo link1 hamburger"
        ". link2 ."
        ". link3 ."
        ". link4 .";
        align-items: center;
        justify-items: center;
        transition: all var(--animation-timing) ease-in-out;
    }

    :global(.dark) .navigation {
        background-color: var(--header);
        box-shadow:
            2.8px 2.8px 17.4px rgba(0, 0, 0, 0.07),
            6.7px 6.7px 28px rgba(0, 0, 0, 0.06),
            12.5px 12.5px 34.9px rgba(0, 0, 0, 0.055),
            22.3px 22.3px 40.7px rgba(0, 0, 0, 0.051),
            41.8px 41.8px 49.3px rgba(0, 0, 0, 0.045),
            100px 100px 80px rgba(0, 0, 0, 0.035);
    }

    :global(.dark) .navigation .link {
        color: var(--foreground-dark);
    }
    
    .header-logo {
        grid-area: logo;
        margin: 0;
        padding: .45rem;
        height: inherit;
        max-width: 70px;
        aspect-ratio: 1 / 1;
        border: 1px solid var(--foreground);
        border-radius: 1rem;
        background-color: var(--background);
    }
    
    .link,
    .search-toggle-block {
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', cursive, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .link:not(.home-link) {
        display: none;
        color: var(--foreground);
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    :global(.dark) .link:not(.home-link) {
        color: var(--foreground-dark);
    }

    .home-link {
        grid-area: link1;
        color: var(--foreground);
    }

    :global(.dark) .home-link {
        color: var(--foreground-dark);
    }

    .library-link {
        grid-area: link3;
    }

    .teas-link {
        grid-area: link2;
    }

    .search-toggle-block {
        grid-area: link4;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .search-link {
        color: var(--foreground);
        opacity: 0.8;
        vertical-align: middle;
        line-height: 0;
    }

    :global(.dark) .search-link {
        color: var(--foreground-dark);
    }

    .search-link,
    .toggle {
        flex: 1 1 20%;
    }

    .toggle {
        display: flex;
        align-items: center;
    }

    .navigation:has(input:checked) {
        height: 100%;
        background-color: var(--background);
        box-shadow:
            2.8px 2.8px 17.4px rgba(0, 0, 0, 0.035),
            6.7px 6.7px 28px rgba(0, 0, 0, 0.045),
            12.5px 12.5px 34.9px rgba(0, 0, 0, 0.051),
            22.3px 22.3px 40.7px rgba(0, 0, 0, 0.055),
            41.8px 41.8px 49.3px rgba(0, 0, 0, 0.06),
            100px 100px 80px rgba(0, 0, 0, 0.07);
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    :global(.dark) .navigation:has(input:checked) {
        background-color: var(--header);
    }

    .navigation:has(input:checked) > .link {
        color: var(--foreground);
        display: block;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    :global(.dark) .navigation:has(input:checked) > .link {
        color: var(--foreground-dark);
    }

    .navigation:has(input:checked) > .search-toggle-block {
        color: var(--foreground);
        display: flex;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .navigation:has(input:checked) > .header-logo {
        border: none;
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.7);
        grid-area: hamburger;
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
     }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground-dark);
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: all var(--animation-timing);
    }

    :global(.dark) .hamburger-menu input,
    :global(.dark) .hamburger-menu::before,
    :global(.dark) .hamburger-menu::after {
        background-color: var(--foreground-dark);
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    @media screen and (min-width: 768px) {
        .hamburger-menu {
            display: none;
        }

        .navigation {
            margin: 0 1rem;
            grid-template-columns: 56px 3% repeat(3, auto) 10% 14%;
            grid-template-areas:
            "logo . link1 link2 link3 . link4";
        }

        .link:not(.home-link) {
            display: flex;
            padding: 0;
            color: var(--foreground);
            opacity: 0.9;
        }

        .home-link {
            opacity: 0.9;
        }
        
        .search-toggle-block {
            display: flex;
        }

        .link:hover:not(.search-toggle-block),
        .link:active {
            padding: 0 .5rem;
            background-color: var(--foreground);
            border-radius: 9px;
            color: var(--background);
            opacity: 1;
        }

        :global(.dark) .link:hover:not(.search-toggle-block),
        :global(.dark) .link:active {
            color: var(--active);
            border: solid 1px var(--active);
            background-color: unset;
            opacity: 1;
        }
    }
</style>
