---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components';
import logo from '../../public/logo.png';
---

<nav class="desktop-menu">
    <a class="header-logo" href="/" aria-label="To Home" data-astro-prefetch>
        <Image class="logo" src={logo} alt="Logo" />
    </a>
        <h3 class="home-header">Майстерня Ча Дао</h3>
    <ul class="menu">
        <li class="first-block menu-blocks">
            <h3 class="first-header headers">Майстерня</h3>
            <ul>
                <li><a class="menu-link home" href='/'><Icon name="hut" size={32} /><span class="menu-link-header">Хатинка</span></a></li>
                <li><a class="menu-link" href='/our-tradition/'>Наша Традиція</a></li>
                <li><a class="menu-link" href='/about'>Про нас</a></li>
                <li><a class="menu-link" href='/about-our-teashop'>Про нашу крамничку</a></li>
            </ul>
        </li>
        <li class="second-block menu-blocks">
            <h3 class="second-header headers">Ча</h3>
            <ul>
                <li><a class="menu-link teas" href='/teas/'><Icon name="teapot-leaves" size={32} /><span class="menu-link-header">Усі чаї</span></a></li>
                <li><a class="menu-link" href='/categories/shengcha/'>Шен пуери</a></li>
                <li><a class="menu-link" href='/categories/heicha/'>Шу пуери й Хейча</a></li>
                <li><a class="menu-link" href='/categories/hongcha/'>Червоні чаї</a></li>
                <li><a class="menu-link" href='/categories/wulong&gaba/'>Вулони й ҐАБА</a></li>
                <li><a class="menu-link" href='/categories/baicha&lucha/'>Білі й Зелені</a></li>
                <li><a class="menu-link" href='/categories/japanese/'>Японські</a></li>
                <li><a class="menu-link" href='/tags/'>Позначки чаїв</a></li>
            </ul>
        </li>
        <li class="third-block menu-blocks">
            <h3 class="third-header headers">Дао</h3>
            <ul>
                <li><a class="menu-link library" href='/library/'><Icon name="books" size={32} /><span class="menu-link-header">Статті</span></a></li>
                <li><a class="menu-link" href='/gongfuchateatips/'>Поради з Ґонфу Ча</a></li>
                <li><a class="menu-link" href='/gongfuteapot/'>Чайник Ґонфу</a></li>
                <li><a class="menu-link" href='/brewingtips/'>Деякі поради щодо заварювання</a></li>
                <li><a class="menu-link" href='/teaandseasons/'>Про чаї та пори року</a></li>
                <li><a class="menu-link" href='/questionsandanswers/'>Питання і відповіді</a></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
    <a class="search-logo" href="/search/" aria-label="To Search" data-astro-prefetch>
        <Icon name="search" size={32} />
    </a>
</nav>

<style>
    nav {
        display: grid;
        margin: 1.5rem 1rem 1rem;
        grid-template-columns: 3.5rem auto 1fr auto 3.5rem;
        grid-template-areas:
        "logo . desktop-menu . search";
        align-items: center;
        border-radius: 9990px;
        
        box-shadow:  0px 5px 10px 0px rgba(0,0,0, 0.5);
        transition: all var(--animation-timing) ease-in-out;
    }
    
    .clear {
        clear: both;
    }
    
    .menu,
    .first-header-word {
        display: none;
    }
    
    .header-logo {
        display: flex;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        border-width: 0;
        background-color: light-dark(var(--background), var(--foreground-dark));
        border-color: light-dark(var(--background), var(--foreground-dark));
        cursor: pointer;
        grid-area: logo;
        margin: 0;
        aspect-ratio: 1 / 1;
        grid-area: logo;
        transition: all var(--animation-timing) ease-in-out;
    }
    
    .logo {
        width: 3.5rem;
        max-width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        /* height: 3.5rem;
        max-height: 100%; */
        border-left: 3px solid light-dark(var(--foreground), var(--background)); 
        border-top: 3px solid light-dark(var(--foreground), var(--background));
        border-bottom: 3px solid light-dark(var(--foreground), var(--background));
        border-radius: 100vw;
    }
    
    h3 {
        margin-bottom: unset;
    }
    
    .home-header {
        font-size: 1.3rem;
        margin-bottom: unset;
        grid-area: desktop-menu;
        text-align: center;
    }

    .search-logo {
        grid-area: search;
        height: 3.5rem;
        width: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: light-dark(var(--foreground), var(--foreground-dark));
        border-radius: 100%;
        transition: all var(--animation-timing) ease-in-out;
    }

    @media screen and (min-width: 420px) {
        .home-header {
            font-size: 1.6rem;
        }
    }

    @media screen and (min-width: 630px) {
        .header-logo:hover,
        .search-logo:hover {
            color: var(--active);
            border: solid 3px var(--active);
            border-radius: 100%;
        }

        .home-header {
            display: none;
        }
        .menu {
            grid-area: desktop-menu;
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, auto);
            column-gap: 0.3rem;
            justify-content: center;
            align-items: center;
            transition: all var(--animation-timing) ease-in-out;
        }
        
        .menu-blocks {
            height: 3.5rem;
            display: flex;
            align-items: center;
        }
        
        .headers {
            padding: 0.3rem;
        }
        
        .first-block {
            padding-right: 1rem;
        }
        
        .second-block,
        .third-block {
            padding: 0 1rem;
        }
        
        .menu li {
            float: left;
        }

        a .menu-link-header {
            margin: 0.3rem 0 0 1rem;
        }
    
        .menu li:hover li {
            background: light-dark(var(--background), var(--background-dark));
            color: var(--background);
        }
    
        .menu li:hover .headers {
            color: light-dark(var(--background), var(--background-dark));
    
        }
    
        .menu li a {
            display: inline-flex;
            align-items: center;
            width: 100%;
            padding: 0 25px;
            text-decoration: none;
            line-height: 50px;
            color: light-dark(var(--foreground), var(--foreground-dark));
        }
    
        .menu > li ul {
            display: none;
            position: absolute;
            list-style: none;
            margin-left: -3px;
            padding: 0;
            overflow: hidden;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in-out;
        }
    
        .menu ul li {
            float: none;
        }
    
        .menu ul li+li{
            border-top: 1px solid light-dark(var(--gray), var(--gray-op));
        }
    
        .menu li:hover > ul {
            display: block;
            top: 4.5rem;
            background: var(--background);
            border-top: 0;
            z-index: 10;
            
            -webkit-border-radius: 10px;
            border-radius: 10px;
            
            -webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            /* box-shadow:  0px 5px 10px 0px rgba(0,0,0, 0.5); */
            box-shadow: 0px 5px 20px light-dark(#444343,#f1c481);
            transition: all var(--animation-timing) ease-in-out;
        }
    
        .menu li:hover > ul li:last-child:hover {
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        }
        
        .menu li a:hover {
        background: var(--button);
        color: light-dark(var(--active), var(--background));
        }
    
        .menu ul li:last-child a,
        .menu ul li:last-child a:hover {
        -webkit-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        }
    }

</style>