---

---

<div class="box">
    <img src="" alt="" />
    <h2></h2>
    <p></p>
</div>

<style>
    img {
        max-width: 100%;
        display: block;
    }

    .box {
        border: 1px solid grey;
        border-radius: 6px;
        padding: 2rem;
        text-align: center;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
</style>