---
import { Icon } from 'astro-icon/components';
---

<section class="social-icons">
    <a href="tel:+380507355445" class="icon" aria-label="Phone" rel="noopener">
        <Icon name="phone" size={36} />
    </a>
    <a href="mailto:hutofsato@gmail.com" class="icon" aria-label="Email" rel="noopener">
        <Icon name="email" size={36} />
    </a>
    <a href="https://www.facebook.com/teahut.com.ua" class="icon" aria-label="Facebook" rel="noopener">
        <Icon name="facebook" size={36} />
    </a>
    <a href="https://www.instagram.com/teahut.com.ua" class="icon" aria-label="Instagram" rel="noopener">
        <Icon name="instagram" size={36} />
      </svg>
    </a>
    <a href="https://wa.me/380507355445/?text=urlencodedtext" class="icon" aria-label="WhatsApp" rel="noopener">
        <Icon name="whatsapp" size={36} />
    </a>
    <a href="https://t.me/hutofsato" class="icon" aria-label="Telegram" rel="noopener">
        <Icon name="telegram" size={36} />
    </a>
    <a href="viber://chat?number=%2B380507355445" class="icon" aria-label="Viber" rel="noopener">
        <Icon name="viber" size={36} />
    </a>
</section>

<style>
    a {
        color: var(--background);
        text-decoration: none;
    }
    
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.8rem;
    }
    
    .icon {
        opacity: 0.8;
        vertical-align: middle;
        line-height: 0;
    }

    .icon:hover,
    .icon:focus {
        color: var(--active);
        opacity: 1;
        rotate: 7deg;
    }
</style>