---
import { Icon } from 'astro-icon/components';
---

<section class="social-icons">
    <a href="https://www.facebook.com/teahut.com.ua" class="icon" aria-label="Facebook" rel="noopener">
        <Icon name="facebook" size={36} />
    </a>
    <a href="https://www.instagram.com/teahut.com.ua" class="icon" aria-label="Instagram" rel="noopener">
        <Icon name="instagram" size={36} />
    </a>
    <a href="https://wa.me/380507355445/?text=urlencodedtext" class="icon" aria-label="WhatsApp" rel="noopener">
        <Icon name="whatsapp" size={36} />
    </a>
    <a href="https://t.me/hutofsato" class="icon" aria-label="Telegram" rel="noopener">
        <Icon name="telegram" size={36} />
    </a>
    <a href="viber://chat?number=%2B380507355445" class="icon" aria-label="Viber" rel="noopener">
        <Icon name="viber" size={36} />
    </a>
    <a href="mailto:hutofsato@gmail.com" class="icon" aria-label="Email" rel="noopener">
        <Icon name="email" size={36} />
    </a>
    <a href="tel:+380507355445" class="icon" aria-label="Phone" rel="noopener">
        <Icon name="phone" size={36} />
    </a>
</section>

<style>
    a {
        color: var(--background);
        text-decoration: none;
    }
    
    .social-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
        gap: 1.8rem;
        list-style: none;

        & li {
            flex-basis: 4.5rem;
        }

        & a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            font-size: 1.75rem;
            /* color: #070707; */
            border: 1px solid;
            border-radius: 100%;
            text-decoration: none;
            outline: none;
            padding: 0.5rem;

            &::after {
                position: absolute;
                content: '';
                inset: 100% 0 0;
                pointer-events: none;
            }
        }
    }
    
    .icon {
        opacity: 0.8;
        vertical-align: middle;
        line-height: 0;
    }

    .icon:hover,
    .icon:focus {
        color: var(--active);
        opacity: 1;
        rotate: 7deg;
    }
</style>