---
import { Icon } from "astro-icon/components";
---

<form class="theme-picker-mobile" action="">
    <fieldset>
        <legend class="visually-hidden">Вибір теми:</legend>
        <label class="icon-label" for="light">
            <Icon name="sun-filled" size={32} />
            <input 
                class="visually-hidden"
                name="color-scheme" 
                type="radio" 
                value="light"
                id="light"
            >
        </label>
        <label class="icon-label" for="dark">
            <Icon name="moon-filled" size={32} />
            <input 
                class="visually-hidden"
                name="color-scheme" 
                type="radio" 
                value="dark"
                id="dark"
            >
        </label>
    </fieldset>
</form>

<style>
    form.theme-picker-mobile {
        position: fixed;
        margin: 0 auto;
        top: 1.2rem;
        right: 1rem;
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .theme-picker > fieldset,
    .theme-picker-mobile > fieldset {
        border: 0;
        display: flex;
        border-radius: 999px;
        background-color: light-dark(var(--background), var(--foreground-dark));
        color: light-dark(var(--foreground), var(--footer));
    }

    .icon-label {
        display: flex;
        padding: 0.8rem;
        text-align: center;
    }
</style>