---
import { Icon } from "astro-icon/components";
---

<fieldset class="mobile-mode-switcher">
    <div class="mobile-icon-block light">
        <input type="radio" name="mobile-switcher" id="light" value="light">
        <label class="mobile-icon-label" for="light">
            <Icon name="sun-filled" size={32} /><span>Світла</span>
        </label>
    </div>
    <div class="mobile-icon-block dark">
        <input type="radio" name="mobile-switcher" id="dark" value="dark">
        <label class="mobile-icon-label" for="dark">
            <Icon name="moon-filled" size={32} />
            <span>Темна</span>
        </label>
    </div>
</fieldset>

<style>
    .mobile-mode-switcher {
        display: flex;
        justify-content: space-around;

        & div {
            margin: 0;
            padding: 0;
        }
        
	}
    
	fieldset {
		margin-inline: 0;
		padding-block: 0;
		padding-inline: 0;
		border-width: 0;
        color: var(--foreground-dark);
	}
    
    
    .mobile-icon-block {
        width: 100%;
        background: light-dark(var(--footer), var(--brown-dark));
        border: 1px solid light-dark(var(--grey), #867d7c);
    }
    
    .mobile-icon-block:has(input[name="mobile-switcher"][type="radio"]:checked) {
        border: 1px solid light-dark(var(--footer), var(--foreground-dark));
		background: light-dark(oklch(85% 0.063 96.44), var(--active));
	}

    label {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0.5rem 0;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: color 0.15s ease-in-out;
        gap: 1rem;
    }
	
	input[type="radio"] {
		display: none;
	}
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {

        const radioButtons = document.querySelectorAll('input[name="mobile-switcher"]');

        // Set theme based on saved preference on load
        const currentTheme = sessionStorage.getItem('theme');
            if (currentTheme) {
            document.querySelector(`input[value="${currentTheme}"]`).checked = true;
        } 

        radioButtons.forEach(radio => {
            radio.addEventListener('change', (e) => {
                if (e.target.value === 'dark') {
                    sessionStorage.setItem('theme', 'dark');
                } else {
                    sessionStorage.setItem('theme', 'light');
                }
            });
        });
    });
</script>