---
import { Icon } from "astro-icon/components";
---

<form class="theme-picker-mobile" action="">
    <fieldset>
        <legend class="visually-hidden"></legend>
        <label class="icon-label-mobile" for="light-dark">
            <Icon name="smartphone" size={48} />      
            <input 
                class="visually-hidden"
                name="color-theme" 
                type="radio" 
                value="light dark"
                id="light-dark"
            >
        </label>
        <label class="icon-label-mobile sun" for="light">
            <Icon name="sun-filled" size={30} />
            <input 
                class="visually-hidden"
                name="color-theme" 
                type="radio" 
                value="light"
                id="light"
            >
        </label>
        <label class="icon-label-mobile moon" for="dark">
            <Icon name="moon-filled" size={30} />
            <input 
                class="visually-hidden"
                name="color-theme" 
                type="radio" 
                value="dark"
                id="dark"
            >
        </label>
    </fieldset>
</form>

<style>
    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .theme-picker-mobile {
        width: fit-content;
        margin: 0 auto;
    }

    .theme-picker-mobile > fieldset {
        border: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        place-items: center;
        border-radius: 100vw;
        background-color: light-dark(var(--background), var(--foreground-dark));
        color: light-dark(var(--foreground), var(--footer));
        border-radius: 100vw;

        @media (min-width: 720px) {
            gap: 0.3rem;
        }
    }

    .icon-label-mobile {
        display: flex;
        text-align: center;
        
    }
    
    .sun,
    .moon {
        padding: 0.5rem;
    }
    
    fieldset.icon-label-mobile:has(input[name="color-theme"][type="radio"]:checked) {
        border: 1px solid var(--active);
        color: var(--active);
    }
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {

        const radioButtons = document.querySelectorAll('input[name="color-theme"]');

        // Set theme based on saved preference on load
        const currentTheme = sessionStorage.getItem('theme');
            if (currentTheme) {
            document.querySelector(`input[value="${currentTheme}"]`).checked = true;
        } 

        radioButtons.forEach(radio => {
            radio.addEventListener('change', (e) => {
                if (e.target.value === 'dark') {
                    sessionStorage.setItem('theme', 'dark');
                } else {
                    sessionStorage.setItem('theme', 'light');
                }
            });
        });
    });
</script>