---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import MobileNavigationNew from '../components/MobileNavigationNew.astro';

const { pageTitle, description, ogImageUrl } = Astro.props;
---

<html lang="uk">
	<BaseHead {pageTitle} {description} {ogImageUrl}/>
	<body>
		<Navigation />
		<main class="content-grid" data-pagefind-body>
			<slot />
		</main>
		<Footer />
		<MobileNavigationNew />
	</body>
</html>
		
<style>
	main {
		height: 100%;
	}
</style>