---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import MobileNavigation from '../components/MobileNavigation.astro';
import {baseData} from '../data/siteData';

const { pageTitle = "Чайна Хатинка" } = Astro.props;
const description = "про справжній чай, Чайну традицію, чайну церемонію ґунфу ча, Шлях Чаю Ча Дао"
---

<html lang="uk">
	<BaseHead {pageTitle} {description}/>
	<body>
		<Navigation />
		<main data-pagefind-body>
			<slot />
		</main>
		<Footer />
		<MobileNavigation/>
	</body>
</html>
		
<style>
	main {
		height: 100%;
	}
</style>