---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import MobileNavigation from '../components/MobileNavigation.astro';
import { GoogleAnalyticsNoscript } from '@digi4care/astro-google-analytics';

const { pageTitle, description, ogImageUrl } = Astro.props;
---

<html lang="uk-UA">
	<BaseHead {pageTitle} {description} {ogImageUrl}/>
	<body>
		<Navigation />
		<main class="content-grid" data-pagefind-body>
			<slot />
		</main>
		<Footer />
		<MobileNavigation />
		<GoogleAnalyticsNoscript id="G-LDBTKBMF02" />
	</body>
</html>
		
<style>
	main {
		height: 100%;
	}
</style>